// Container Style
.container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 5px;
    gap: 0.5rem;

    &.column {
        flex-direction: column;
    }

    &.fill {
        width: 100%;
        height: 100%;
        flex: 1;
    }
}

