
name: Run Tests

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: [main, dev]

jobs:
  test-api:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Go 1.25.x
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
          cache-dependency-path: bjalla-api/go.sum

      - name: Install dependencies
        working-directory: bjalla-api
        run: go mod download

      - name: Test API
        working-directory: bjalla-api
        run: go test -v ./tests
