
name: Run Tests

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: [main, dev]

jobs:
  test-api:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - run: cd bjalla-api

      - name: Setup Go 1.25.x
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'

      - name: Install dependencies
        run: go mod download

      - name: Test API
        run: go test ./tests
